<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="52755VolatileDove.BigBerthavsalienrobots" Publisher="CN=moi" Version="1.1.0.0" />
  <Properties>
    <DisplayName>Big Bertha vs alien robots!</DisplayName>
    <PublisherDisplayName>Volatile Dove</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AnUnconventionalWeaponApp.App">
      <m2:VisualElements DisplayName="Big Bertha vs alien robots!" Description="Big Bertha vs alien robots! is a 2-players cooperative game. One player controls a cannon, and must shoot on alien robots, and the other controls a character with a hosepipe, and must throw water on cannon burning mechanisms. This is my Ludum Dare 32 &quot;An Unconventional Weapon&quot; entry." BackgroundColor="#464646" ForegroundText="light" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png">
        <m2:DefaultTile>
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>